.primary,
.secondary,
.tertiary,
.textarea-primary,
.textarea-secondary,
.textarea-tertiary {
  border-radius: 10px;
  font-size: 0.9rem;
  margin: 0.3rem;
  padding: 0.3rem;
  width: 100%;
  font-family: "Poppins";
}

.primary,
.secondary,
.tertiary {
  height: 30px;
}
.primary,
.textarea-primary {
  border: 1px solid #000;
}
.secondary,
.textarea-secondary {
  border: 1px solid #3e515c;
}
.tertiary,
.textarea-tertiary {
  border: 1px solid #ad635e;
}
