.btn-primary,
.btn-secondary,
.btn-tertiary {
  padding: 0.8rem 2rem;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  width: fit-content;
  margin-top: 2rem;
  font-family: "Poppins";
  color: #fff;
  border: 2px solid #fff;
}
.btn-primary {
  background-color: #000;
}

.btn-secondary {
  background-color: #3e515c;
}

.btn-tertiary {
  background-color: #ad635e;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-tertiary:hover {
  cursor: pointer;
  color: #000;
}

.btn-primary:hover {
  background-color: #fff;
  border: 2px solid #000;
}
.btn-secondary:hover {
  background-color: #fadcc0;
}
.btn-tertiary:hover {
  background-color: #bdbdbd;
}
