.btn-primary {
    color: #fff;
    background-color: #000;
    border: 2px solid #fff;
    padding: 0.8rem 2rem;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #fff;
    cursor: pointer;
    color: #000;
    border: 2px solid #000;
}

.btn-secondary {
    color: #fff;
    background-color: #3e515c;
    border: 2px solid #fff;
    padding: 0.8rem 2rem;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
}

.btn-secondary:hover {
    background-color: #fadcc0;
    cursor: pointer;
    color: #000;
}

.btn-tertiary {
    color: #fff;
    background-color: #ad635e;
    border: 2px solid #fff;
    padding: 0.8rem 2rem;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
}

.btn-tertiary:hover {
    background-color: #bdbdbd;
    cursor: pointer;
    color: #000;
}