/* Text Size */

.size-normal {
    font-size: 13px;
}

.size-semi-large {
    font-size: 20px;
}

.size-large {
    font-size: 24px;
}

.size-extra-large {
    font-size: 28px;
}

.size-ultra-large {
    font-size: 55px;
}


/* Text Color */

.black {
    color: black;
}

.white {
    color: white;
}

.dark-blue {
    color: #3e515c;
}

.grey {
    color: #979797;
}


/* Font Family */

@import url('https://fonts.googleapis.com/css2?family=Poppins|Suez+One|Raleway|Open+Sans&display=swap');
.sans-serif {
    font-family: sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}