.primary,
.secondary,
.tertiary {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  width: 300px;
  margin: 0 5px;
}

.primary {
  border: 1px solid #000;
  background-color: #fff;
  box-shadow: 10px 10px 10px #6b6c6d;
}
.secondary {
  border: 1px solid #fff;
  background-color: #fff;
  box-shadow: 10px 10px 10px #3e515c;
}
.tertiary {
  border: 1px solid #ad635e;
  background-color: #ad635e;
  box-shadow: 10px 10px 10px #444444;
}

.card-title-primary,
.card-title-secondary,
.card-title-tertiary {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.card-title-primary {
  color: #000;
}
.card-title-secondary {
  color: #3e515c;
}
.card-title-tertiary {
  color: #fff;
}

.card-content-primary,
.card-content-secondary,
.card-content-tertiary {
  margin-top: 1rem;
  text-align: left;
}
.card-content-primary {
  color: #000;
}
.card-content-secondary {
  color: #6c6d6c;
}
.card-content-tertiary {
  color: #fff;
}
.card-text-primary,
.card-text-secondary,
.card-text-tertiary {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.readmore {
  font-family: "poppins";
  color: #3e515c;
  font-size: 14px;
  margin-top: 1rem;
  text-decoration: none;
  cursor: pointer;
}
