.card-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 2rem;
}

.text-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.button-container,
.input-container {
    display: flex;
    justify-content: center;
    margin: 2rem;
}