@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

.primary,
.secondary,
.tertiary {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 1rem;
  z-index: 1;
}
.primary {
  background-color: #000;
}
.secondary {
  background-color: #6c6d6c;
}
.tertiary {
  background-color: #ad635e;
}
.link-primary,
.link-secondary,
.link-tertiary {
  color: #ffffff;
  font-size: 15px;
  font-family: "Poppins";
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
  transition: 0.3s;
}

.link-primary:hover {
  color: #000;
  background-color: #fff;
}

.link-secondary:hover {
  color: #3e515c;
  background-color: #fadcc0;
}

.link-tertiary:hover {
  color: #ad635e;
  background-color: #bdbdbd;
}
