.banner-container,
.caption-banner {
  display: flex;
}

.banner-container {
  align-items: center;
  background-color: #90a2a8;
  width: 100%;
  padding-top: 63px;
}

.caption-banner {
  margin-left: 8rem;
  width: 50%;
  flex-direction: column;
}

.figure-banner {
  text-align: center;
  width: 50%;
}

.img-banner {
  width: 100%;
}
