.container {
  text-align: center;
  margin: 3rem 0;
  padding: 0 1.5rem;
  flex-direction: column;
}
.contact-container {
  text-align: left;
}

.container,
.contact-container,
.button-container,
.input-container,
.form {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.contact,
.form {
  margin: 0 1rem;
  width: 22rem;
}

.contact-text {
  margin: 1rem 0;
}

.icon {
  margin-right: 0.5rem;
}
